/* font-family: 'Inter', sans-serif;
font-family: 'Outfit', sans-serif;
azzurrino #00FFFF
rosino #D20094  #900080
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    background-image: url(../img/bg.jpg);
    background-size:cover;
    color: rgb(237, 235, 235);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

header{
    width: 30em;
    padding-left: 3em;
}

figure{
    height: 3em;
    width: 12em;
    padding-top: 2em;
}

img {
  height: 3em;
  width: 12em;
}
h2{
    margin-top: 1.5em;
}
h1,h2,h3 {
    font-family: 'Outfit', sans-serif;
    font-size: 60px;
    font-weight: normal;
}

h3{
    color: #D20094;
    font-weight: 500;
    font-size: xx-large;
    padding-bottom: 0.2em;
}

span{
    font-weight: bold;
    color: white;

}

main{
    width: 45em;
    padding: 3em;
    
}

.testo{
    padding: 2em;
    padding-top: 0;
    padding-left: 0;
}

ul{
    list-style: disc;
    padding-top: 0.5em;
    padding-left: 2em;
    width: 50em;
}

li{
    padding: 0.5em;
}

#promessa{
    display: inline-block;
    margin-top: 8em;
}

#bottone{
    display: inline-block;
    position: absolute;
    margin-top: 7em;
    margin-left: 18em;
    border-color: #00FFFF;
    border-style: hidden;
    box-shadow: #00ffff5b 0px 0px 4px 4px ;
    background-color: #00FFFF ;
    height: 3em;
    width: 12em;
    font-weight: bolder;
    color: black;
}

#bottone:hover{
    box-shadow: #d800dfaf 0px 0px 4px 4px ;
}

#bottone:disabled:hover{
    cursor: not-allowed;
}

#bottone:disabled{
    display: inline-block;
    position: absolute;
    margin-top: 7em;
    margin-left: 18em;
    border-color: #00FFFF;
    border-style: hidden;
    box-shadow: #00ffff5b 0px 0px 4px 4px ;
    background-color: #00FFFF ;
    height: 3em;
    width: 12em;
    font-weight: bolder;
    color: black;
}

footer{
    display: block;
    text-align: left;
    padding: 1em;
    margin: 0;
    font-size: small;
}


/* STILE FEEDBACK PAGE */
.container {
width: 50vw;
display: inline-block;
vertical-align: middle;
margin-left: 25vw;
margin-top: 13vh;
text-align: center;
}

.feedbackTitle {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.feedbackParagraph {
    margin: 1em;
    padding-bottom: 1em;
    font-size: larger;
    line-height: 1.5em;
}

#stars {
  margin: 0;
  padding: 0;
  text-align: center;
}

#stars .star {
  width: 7%;
  display: inline-block;
}

.star {
  font-size: 1em;
  padding: 0.2em;
  display: inline-block;
}

.star:hover {
  opacity: 0;
}
#feedbackContent{
    padding-top: 2em;
    text-align: center;
}
#feedbackInput {
  width: 90%;
  border: none;
  border-bottom: 2px solid #c2128d;
  background: none;
  outline: none;
  color: white;
  font-size: 1em;
  padding-left: 1em;
  margin-bottom: 2em;
}
#feedbackBtn {
    position: relative;
    align-self: center;
    margin-top: 1em;
    border-color: #00FFFF;
    border-style: hidden;
    box-shadow: #00ffff5b 0px 0px 4px 4px ;
    background-color: #00FFFF ;
    height: 3em;
    width: 12em;
    font-weight: bolder;
    color: black;
}
/* FINE STILE FEEDBACK PAGE */
/* Questo è il CSS della pagina results.html */

#body_results{
    text-align: center;
    display: inline;
    
}

#risultato > h2{
    font-size: 3em;
    font-weight: bold;
    margin-top: 2.5em;
}

#risultato {
    margin-bottom: 5em;
}

#corretto {
    width: 20%;
    display: inline-block;
} 

#sbagliato {
    width: 20%;
    display: inline-block;

}

#grafo {
    width: 20%;
    height: 373.5px;
    border: 30px solid #00FFFF;
    border-radius: 50%;
    display: inline-block;
    padding: 5em;
    box-shadow: 3px 3px 30px 3px black;

}

#p_grafo {
    font-size: 1.2em;
    color: #00FFFF;
    margin-top: 0.3em;
}

/* ---------------------------------------*/